.login{
  background-image: url('https://img.freepik.com/free-photo/3d-rendering-bunch-square-logos-main-social-media-apps-orange-background_284880-215.jpg?w=2000');
  width: 100%;
  height:100vh;
}
.register{
  background-image: url('https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/ocean-ripple1595620653161388.jpg?impolicy=prdimg&imdensity=1&imwidth=600');
  width: 100%;
  height:100vh;
}
